<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/MrneX_trunk/src/isochrones/mrnex/utils/RuntimeDurationExperiment.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="isochrones.mrnex.utils.RuntimeDurationExperiment"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="dbType=postgresql&#10;algorithmName=MIERWINEMinIS&#10;algorithmClassName=isochrones.mierwine.algorithm.test.RuntimeDurationTest&#10;dataset=BZ&#10;dMax=60&#10;nOI=2000500&#10;targetTime=2011-05-02T10:10:00&#10;speed=1.0&#10;mode=MULTIMODAL&#10;durationCheckPoints=1,6,10,15,20,25,30,40,50,60&#10;outputFile=out.log&#10;singleBreakpoint=true"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="MrneX_trunk"/>
</launchConfiguration>
